[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm exec prisma generate", "pnpm run build"]

[start]
cmd = "npx prisma db push && node dist/src/main.js"
