[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm exec prisma generate", "pnpm run build"]

[start]
cmd = "MAIN_FILE=$(find dist -name main.js | head -n 1); echo \"Found main at: $MAIN_FILE\"; pnpm exec prisma migrate deploy && node $MAIN_FILE"
